{% extends 'admin/model/list.html' %}

{% block tail %}
  {{ super() }}
  <script type="text/javascript" charset="utf-8">
    var socket;
    $(document).ready(function(){
      socket = io.connect('http://' + document.domain + ':' + location.port + '/logs');
      socket.on('connect', function() {
          socket.emit('joined_statuses', {});
      });
      socket.on('statuses', function(data) {
        console.log('received ' + data.msg)
        $('#status').text(data.msg)
        if (data.msg.toLowerCase() == 'running') {
          $('#status').removeClass('label-default').addClass('label-success');
        } else {
          $('#status').removeClass('label-success').addClass('label-default');
        }
      });

    });
  </script>
{% endblock %}
