{% extends 'admin/model/details.html' %}

{% block details_search %}
{% endblock %}

{% block details_table %}
  <h3>{{model.name}} <span class="label label-default" id="status">Unknown</span></h3>

  <textarea id="logs" rows="20" class="form-control" style="min-width: 100%"></textarea><br><br>
{% endblock %}

{% block tail %}
  {{ super() }}
  <script type="text/javascript" charset="utf-8">
    var socket;
    $(document).ready(function(){
      socket = io.connect('http://' + document.domain + ':' + location.port + '/logs');
      socket.on('connect', function() {
          socket.emit('joined_logs', {});
          socket.emit('joined_statuses', {});
      });
      socket.on('logs', function(data) {
        $('#logs').val($('#logs').val() + data.msg);
        $('#logs').scrollTop($('#logs')[0].scrollHeight);
      });
      socket.on('statuses', function(data) {
        state = data.msg.state;
        if (state != null) {
          $('#status').text(state);
          if (state.toLowerCase() == 'running') {
            $('#status').removeClass('label-default').addClass('label-success');
          } else {
            $('#status').removeClass('label-success').addClass('label-default');
          }
        }
      });

    });
  </script>
{% endblock %}
